.Taskpad {
    color: aliceblue;
    font-family: consolas;
    background-color: rgb(25, 180, 250);
    height: auto;
    width: auto;
    align-self: center;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

#inputText {
    border-radius: 10px;
    height: 30px;
}

#addBut {
    height: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 5px;
    font-family: consolas;
    font-weight: 800;
    background-color: rgb(253, 142, 51);
    color:white;
}

.ErrorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    height: auto;
    border-radius: 15px;
    background-color: brown;
    color: wheat;
    font-family: consolas;
    font-size: 12pt;
}

.ErrorMessage button {
    font-family: consolas;
    font-size: 12pt;
    font-weight: 800;
    border-radius: 10px;
    background-color: tomato;
    color: wheat;
    margin-bottom: 10px;
}